openapi: 3.0.3
info:
  title: Atracciones Coronel - API de Booking (Integradores Externos)
  description: >
    Contrato de integración REST para sistemas externos de booking que deseen
    listar, consultar y reservar atracciones de Paula Coronel.

    ## Flujo típico de integración
    1. `GET /attraction` — Obtener el catálogo de atracciones disponibles.
    2. `GET /attraction/{slug}` — Consultar el detalle completo de una atracción.
    3. `POST /booking` — Crear la reserva con los datos del pasajero.
    4. `POST /booking/{pnr}/cancel` — Cancelar la reserva si es necesario.
  version: 1.0.0
servers:
  - url: https://gateway-api.purpleriver-a05782b6.centralus.azurecontainerapps.io/api/v1/coronel_paula
    description: API Gateway en Producción (Azure - Paula Coronel)

paths:

  /attraction:
    get:
      tags: [Atracciones]
      summary: Listar atracciones
      description: >
        Obtiene el catálogo de atracciones activas y disponibles de Paula Coronel.
        Soporta paginación y filtros básicos.
      operationId: ListarAtracciones
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 20
        - name: search
          in: query
          description: Búsqueda por nombre o descripción
          schema:
            type: string
        - name: disponible
          in: query
          description: Si es true, retorna solo atracciones con cupos futuros disponibles
          schema:
            type: boolean
      responses:
        '200':
          description: Catálogo obtenido con éxito
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListAtraccion'

  /attraction/{slug}:
    get:
      tags: [Atracciones]
      summary: Detalle completo de una atracción
      description: >
        Devuelve la información completa de una atracción: descripción, precios,
        modalidades disponibles, horarios/slots con capacidad y todos los
        datos necesarios para realizar una reserva.
      operationId: DetalleAtraccion
      parameters:
        - name: slug
          in: path
          required: true
          description: Slug único o UUID de la atracción
          schema:
            type: string
          examples:
            porSlug:
              value: tour-cotopaxi-limpiopungo
            porId:
              value: 7e50bc5d-83b6-4ea0-8b17-0b182d8c3614
      responses:
        '200':
          description: Atracción encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAtraccionDetalle'
        '404':
          description: Atracción no encontrada

  /booking:
    post:
      tags: [Reservas]
      summary: Crear una reserva
      description: >
        Registra una reserva bloqueando el cupo en el slot seleccionado de Paula Coronel.
        Se deben enviar los datos del cliente y los pasajeros por ticket.

        La respuesta incluye el código **PNR** que identifica la reserva
        de forma única y debe ser guardado para futuras cancelaciones.
      operationId: CrearReserva
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingRequest'
            example:
              slotId: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
              client:
                firstName: "Paula"
                lastName: "Coronel"
                documentType: "CÉDULA"
                documentNumber: "1723456789"
                email: "paula.coronel@uce.edu.ec"
              tickets:
                - ticketCategoryId: "a1b2c3d4-0000-0000-0000-000000000001"
                  firstName: "Paula"
                  lastName: "Coronel"
                  documentNumber: "1723456789"
                  documentType: "CÉDULA"
              notas: "Reserva de prueba en producción"
      responses:
        '200':
          description: Reserva creada con éxito
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBooking'
        '400':
          description: Datos inválidos, cupo insuficiente o slot inexistente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Slot o atracción no encontrada

  /booking/{pnr}/cancel:
    post:
      tags: [Reservas]
      summary: Cancelar una reserva
      description: >
        Cancela una reserva existente identificada por su código PNR
        y libera los cupos en el inventario de Paula Coronel.
      operationId: CancelarReserva
      parameters:
        - name: pnr
          in: path
          required: true
          description: Código PNR de la reserva a cancelar
          schema:
            type: string
          example: AC-20260521-XYZW
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                cancelReason:
                  type: string
                  description: Motivo de la cancelación (opcional)
            example:
              cancelReason: "Cambio de itinerario"
      responses:
        '200':
          description: Reserva cancelada con éxito
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseSuccess'
        '400':
          description: La reserva no puede ser cancelada (ya cancelada o pasada)
        '404':
          description: Reserva no encontrada con ese PNR

components:
  schemas:

    AtraccionDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        nombre:
          type: string
        descripcion:
          type: string
        precio:
          type: number
          format: double
        moneda:
          type: string
          default: USD
        ubicacion:
          type: string
        imagenUrl:
          type: string
          format: uri
        disponible:
          type: boolean
        slug:
          type: string
      required: [id, nombre, descripcion, precio, moneda, ubicacion, imagenUrl, disponible]

    AtraccionDetalleDto:
      allOf:
        - $ref: '#/components/schemas/AtraccionDto'
      type: object
      properties:
        modalidades:
          type: array
          description: Opciones de ticket disponibles (ej. Regular, VIP)
          items:
            $ref: '#/components/schemas/ModalidadDto'

    ModalidadDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        nombre:
          type: string
        descripcion:
          type: string
        slots:
          type: array
          description: Horarios con cupos disponibles
          items:
            $ref: '#/components/schemas/SlotDto'

    SlotDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        fecha:
          type: string
          format: date
        horaInicio:
          type: string
          example: "09:00"
        cuposDisponibles:
          type: integer
        capacidadTotal:
          type: integer

    BookingRequest:
      type: object
      required: [slotId, client, tickets]
      properties:
        slotId:
          type: string
          format: uuid
          description: ID del slot seleccionado (fecha y hora específicos)
        client:
          $ref: '#/components/schemas/ClienteRequest'
        tickets:
          type: array
          description: Datos de cada pasajero incluido en la reserva
          items:
            $ref: '#/components/schemas/PasajeroRequest'
        notas:
          type: string
          nullable: true
          description: Observaciones adicionales (opcional)

    ClienteRequest:
      type: object
      required: [firstName, lastName, documentType, documentNumber]
      properties:
        firstName:
          type: string
        lastName:
          type: string
        documentType:
          type: string
          description: Tipo de documento (ej. DNI, CÉDULA, PASAPORTE)
        documentNumber:
          type: string
        email:
          type: string
          format: email
          nullable: true

    PasajeroRequest:
      type: object
      required: [ticketCategoryId, firstName, lastName, documentNumber, documentType]
      properties:
        ticketCategoryId:
          type: string
          format: uuid
          description: Categoría del ticket (Adulto, Niño, etc.)
        firstName:
          type: string
        lastName:
          type: string
        documentNumber:
          type: string
        documentType:
          type: string

    BookingResponse:
      type: object
      properties:
        bookingId:
          type: string
          format: uuid
        pnrCode:
          type: string
          description: Código único de la reserva. Guardar para cancelaciones.
          example: AC-20260521-XYZW
        status:
          type: string
          example: Confirmed
        totalAmount:
          type: number
        currency:
          type: string
        activityDate:
          type: string
          format: date-time
        attractionName:
          type: string

    ApiResponseListAtraccion:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/AtraccionDto'
        message:
          type: string
          nullable: true
        errors:
          type: array
          items:
            type: string

    ApiResponseAtraccionDetalle:
      type: object
      properties:
        success:
          type: boolean
        data:
          $ref: '#/components/schemas/AtraccionDetalleDto'
        message:
          type: string
          nullable: true

    ApiResponseBooking:
      type: object
      properties:
        success:
          type: boolean
        data:
          $ref: '#/components/schemas/BookingResponse'
        message:
          type: string
          nullable: true

    ApiResponseSuccess:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
          nullable: true

    ApiError:
      type: object
      properties:
        success:
          type: boolean
          default: false
        message:
          type: string
        errors:
          type: array
          items:
            type: string
